@-moz-keyframes form-header-question-btn-effect {
    0% { -moz-transform: scale(1); }
    50% { -moz-transform: scale(1.1); } 
    100% { -moz-transform: scale(1); } 
}
@-webkit-keyframes form-header-question-btn-effect { 
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); } 
}
@keyframes form-header-question-btn-effect { 
    0% { 
        -webkit-transform: scale(1); 
        transform:scale(1.1); 
    }
    50% { 
        -webkit-transform: scale(1); 
        transform:scale(1.1); 
    }
    100% { 
        -webkit-transform: scale(1); 
        transform:scale(1); 
    }
}

@-moz-keyframes rubberBand {
    from {
       -moz-transform: scale3d(1, 1, 1);
    }
  
    30% {
        -moz-transform: scale3d(1.07, 0.75, 1);
    }
  
    40% {
        -moz-transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
        -moz-transform: scale3d(1.07, 0.85, 1);
    }
  
    65% {
        -moz-transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
        -moz-transform: scale3d(1.02, .95, 1);
    }
  
    to {
        -moz-transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
    }
  
    30% {
        -webkit-transform: scale3d(1.07, 0.75, 1);
    }
  
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
        -webkit-transform: scale3d(1.07, 0.85, 1);
    }
  
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
        -webkit-transform: scale3d(1.02, .95, 1);
    }
  
    to {
        -webkit-transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.07, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.07, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.02, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fadeIn {
    0% {-moz-opacity: 0;}
    100% { -moz-opacity: 1;}
}

@-moz-keyframes fadeOut {
    0% {-moz-opacity: 1;}
    100% { -moz-opacity: 0;}
}

@-webkit-keyframes fadeIn {
    0%{ -webkit-opacity: 0;}
    100%{ -webkit-opacity: 1;}
}

@-webkit-keyframes fadeOut {
    0%{ -webkit-opacity: 1;}
    100%{ -webkit-opacity: 0;}
}

@keyframes bounceInLeft {
    0% {
       opacity: 0;
       transform: translateX(-2000px);
    }
    60% {
       opacity: 1;
       transform: translateX(30px);
    }
    80% {
       transform: translateX(-10px);
    }
    100% {
       transform: translateX(0);
    }
}

@-webkit-keyframes bounceInLeft {
    0% {
        -webkit-opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    60% {
        -webkit-opacity: 1;
        -webkit-transform: translateX(30px);
    }
    80% {
        -webkit-transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
} 

@-moz-keyframes bounceInLeft {
    0% {
        -moz-opacity: 0;
        -moz-transform: translateX(-2000px);
    }
    60% {
        -moz-opacity: 1;
        -moz-transform: translateX(30px);
    }
    80% {
        -moz-transform: translateX(-10px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes bounceOutRight {
    0% {
       transform: translateX(0);
    }
    20% {
       opacity: 1;
       transform: translateX(-20px);
    }
    100% {
       opacity: 0;
       transform: translateX(2000px);
    }
 }

@-webkit-keyframes bounceOutRight {
    0% {
        -webkit-transform: translateX(0);
     }
     20% {
        -webkit-opacity: 1;
        -webkit-transform: translateX(-20px);
     }
     100% {
        -webkit-opacity: 0;
        -webkit-transform: translateX(2000px);
     }
} 

@-moz-keyframes bounceOutRight {
    0% {
        -moz-transform: translateX(0);
     }
     20% {
        -moz-opacity: 1;
        -moz-transform: translateX(-20px);
     }
     100% {
        -moz-opacity: 0;
        -moz-transform: translateX(2000px);
     }
}

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    } 
    40% {
        transform: translateY(-30px);
    } 
    60% {
        transform: translateY(-15px);
    } 
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
    } 
    40% {
        -webkit-transform: translateY(-30px);
    } 
    60% {
        -webkit-transform: translateY(-15px);
    } 
} 

@-moz-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
    } 
    40% {
        -moz-transform: translateY(-30px);
    } 
    60% {
        -moz-transform: translateY(-15px);
    } 
}

@keyframes smallBounce { 
    0%,20%,100% {
        transform: translateY(0) scale3d(1, 1, 1);
    } 
    40% {
        transform: translateY(-10px) scale3d(.85, 1, 1);
    }
    45%{
        transform: translateY(0) scale3d(1, 1, 1);
    }
    50%{
        transform: translateY(0) scale3d(1.2, .9, 1);
    }
    60% {
        transform: translateY(-5px) scale3d(.85, 1, 1);
    }
    75%{
        transform: translateY(0) scale3d(1, 1, 1);
    }
    80%{
        transform: translateY(0) scale3d(1.05, .95, 1);
    }
}

@-webkit-keyframes smallBounce { 
    0%,20%,100% {
        -webkit-transform: translateY(0) scale3d(1, 1, 1);
    } 
    40% {
        -webkit-transform: translateY(-10px) scale3d(.85, 1, 1);
    }
    45%{
        -webkit-transform: translateY(0) scale3d(1, 1, 1);
    }
    50%{
        -webkit-transform: translateY(0) scale3d(1.2, .9, 1);
    }
    60% {
        -webkit-transform: translateY(-5px) scale3d(.85, 1, 1);
    }
    75%{
        -webkit-transform: translateY(0) scale3d(1, 1, 1);
    }
    80%{
        -webkit-transform: translateY(0) scale3d(1.05, .95, 1);
    }
} 

@-moz-keyframes smallBounce { 
    0%,20%,100% {
        -moz-transform: translateY(0) scale3d(1, 1, 1);
    } 
    40% {
        -moz-transform: translateY(-10px) scale3d(.85, 1, 1);
    }
    45%{
        -moz-transform: translateY(0) scale3d(1, 1, 1);
    }
    50%{
        -moz-transform: translateY(0) scale3d(1.2, .9, 1);
    }
    60% {
        -moz-transform: translateY(-5px) scale3d(.85, 1, 1);
    }
    75%{
        -moz-transform: translateY(0) scale3d(1, 1, 1);
    }
    80%{
        -moz-transform: translateY(0) scale3d(1.05, .95, 1);
    }
}

@keyframes rotate { 
    0%{
        transform: rotate(0deg);
    } 
    100%{
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate { 
    0%{
        -webkit-transform: rotate(0deg);
    } 
    100%{
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate { 
    0%{
        -moz-transform: rotate(0deg);
    } 
    100%{
        -moz-transform: rotate(360deg);
    }
}

@keyframes slideIn {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slideIn {
    100% { -webkit-transform: translateX(0%); }
}

@-moz-keyframes slideIn {
    100% { -moz-transform: translateX(0%); }
}


 