.info-container{
    padding-bottom: 0.7rem;
    display: flex;
}

.info{
    width: 25%;
    font-size: 0.87rem;
    color:black;
    display: flex;
}
.info .tag{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 0.4rem;
}
.info .detail{
    width: 50%;

}

.info-box{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.details-box{
    color: black;
    border: 1px solid black;
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}